* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   margin-top: 3.5rem;
}

h1 {
   font-family: "Montserrat", sans-serif;
   font-size: 48pt;
   padding-top: 2.4rem;
   padding-bottom: 2.4rem;
   margin: auto;
   width: 75%;
}

.tituloSeccion {
   font-family: "Montserrat", sans-serif;
   font-size: 2rem;
   color: #F26522;
   text-rendering: optimizeLegibility;
   text-align: center;
   margin-bottom: 2rem;
}

.textoPrincipal {
   font-family: "Merriweather", serif;
   font-weight: 300;
   font-size: 26pt;
   padding-top: 2.4rem;
   padding-bottom: 2.4rem;
   margin: auto;
   width: 75%;
   text-align: center;
   line-height: 3rem;
}

.textoExplicativo {
   font-family: "Merriweather", serif;
   font-weight: 300;
   font-size: 14pt;
   line-height: 1.875;
   color: #888888;
}

.titulo {
   font-family: "Montserrat", sans-serif;
   font-weight: 600;
   font-size: 18pt;
}

html {
   font-size: 14pt;
}

section {
   margin-left: 0 auto;
   padding-top: 4.8rem;
   padding-bottom: 4.8rem;
}

.services {
   background-color: #111111;
   color: #FFFFFF;
}

.contact {
   background-color: #111111;
   color: #FFFFFF;
}

.home {
   background-color: #111111;
   color: #FFFFFF;
}

div {
   margin: auto;
   width: 85%;
}

/* --- Barra navegacion --- */

header {
   font-family: 'Montserrat', sans-serif;
   background: #000;
   position: fixed;
   width: 100%;
   top: 0;
   display: flex;
   justify-content: center;
}

nav {
   width: 90%;
   margin: auto;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}


nav .logo {
   display: inline-block;
}

nav .logo img {
   vertical-align: top;
   padding-top: 0.2rem;
   padding-bottom: 0.2rem;
}

.logoSlogan {
   color: #fff;
   text-decoration: none;
   display: inline-block;
   padding-top: 1rem;
   padding-bottom: 1rem;
   text-align: center;
   font-size: 1rem;
}

header nav .logo label {
   display: none;
}

header nav .logo label i{
   color: #fff;
   text-decoration: none;
   font-size: 1rem;
}

.enlaces {
   display: flex;
   justify-content: flex-end;
}

nav .enlaces a {
   color: #fff;
   text-decoration: none;
   display: inline-block;
   padding: 1rem;
   text-align: center;
   font-size: 1rem;
}

nav .enlaces a:hover {
   background: #666;
}

.botonMenu {
   display: none;
}

/* Efectos del menu */

.headroom {
   transition: transform .3s ease;
}

.headroom--pinned {
   transform: translateY(0%);
}

.headroom--unpinned {
   transform: translateY(-100%);
}


/* Mediaqueries */

@media screen and (max-width: 900px) {
   header nav {
      flex-direction: column;
   }

   header nav .logo {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      padding: 1rem;
   }

   header nav .logo label {
      display: inline-block;
   }

   .enlaces {
      position: absolute;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-around;
      background: #000;
      margin-top: 5rem;
      margin-left: -200%;
   }

   #botonMenu:checked ~ .enlaces {
      margin-left: 0;
   }
}

/* --------- Home section ----------*/

.home {
   background-image: url("../img/fondo_home.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}

.switchIdioma {
   width: 90%;
   font-family: 'Montserrat', sans-serif;
   margin-top: -3rem;
   overflow: hidden;

}

.idiomaActual {
   float: right;
   width: 4rem;
   padding: 1rem;
   background: #F26522;
   text-align: center;
}

.idiomaAlternativo {
   float: right;
   width: 4rem;
   font-size: 1rem;
   padding: 1rem;
   background: #000;
   text-align: center;
}

.idiomaAlternativo a{
   font-size: 1rem;
   text-decoration: none;
   color: #fff;
}

.idiomaAlternativo:hover {
   background: #666
}


/* --------- About section ----------*/


/* --------- Skills section --------- */

.skills {
   background: #000;
}

.skill-bars {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   list-style: none;
}

/* --------- Works section --------- */

.divPortfolio {
   width: 85%;
   background: #fff;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   overflow: hidden;
}

.divTrabajoReciente {
   width: 240px;
   height: 300px;
   background: #666;
   margin: 1rem;
}

.divTrabajoReciente img{
   width: 240px;
   height: 240px;
}

.nombreWeb{
   margin: auto;
   width: 100%;
   padding: 1rem;
   background: #666;
   text-align: center;
   font-family: "Montserrat", sans-serif;
   font-size: 0.85rem;
   color: #fff;
   cursor: pointer;
}

.nombreWeb a {
   font-family: "Montserrat", sans-serif;
   text-decoration: none;
   color: #fff;
}

/* --------- Contact section --------- */

form {
   margin-top: 2.4rem;
}
.textocontacto{
   font-family: "Merriweather", serif;
   font-weight: 100;
   font-size: 20pt;
   padding-top: 2.4rem;
   padding-bottom: 2.4rem;
   margin: auto;
   width: 75%;
   text-align: center;
}
.textocontacto a{
   text-decoration: none;
   color: #F26522;
}

.campoFormulario {
      margin-bottom: 2rem;
      align-items: center;
      width: 50%;
}

.campoFormulario label {
   font-family: "Montserrat", sans-serif;
   font-size: 0.85rem;
   color: #999;
}

.campoFormulario input {
      margin-top: 0.65rem;
      width: 95%;
      padding: 1rem;
      background: #000;
      border-style: none;
      font-family: "Montserrat", sans-serif;
      font-size: 0.85rem;
      color: #999;
}

.campoFormulario textarea{
   margin-top: 0.65rem;
   width: 95%;
   padding: 1rem;
   background: #000;
   border-style: none;
   font-family: "Merriweather", sans-serif;
   font-size: 0.85rem;
   color: #999;
}

.botonFormulario input{
   margin-top: 0.65rem;
   width: 100%;
   padding: 1rem;
   background: #F26522;
   border-style: none;
   font-family: "Montserrat", sans-serif;
   font-size: 0.85rem;
   color: #fff;
}

.botonFormulario {
   margin-bottom: 2rem;
   align-items: center;
   width: 50%;
}

.botonFormulario input:hover {
   cursor: pointer;
}
