h1 {
   font-family: "Montserrat", sans-serif;
   font-size: 48pt;
   padding-top: 2.4rem;
   padding-bottom: 2.4rem;
   margin: auto;
   width: 75%;
}


.tituloSeccion {
   font-family: "Montserrat", sans-serif;
   font-size: 12pt;
   color: #F26522;
   text-rendering: optimizeLegibility;
}

.textoPrincipal {
   font-family: "Merriweather", serif;
   font-weight: 300;
   font-size: 26pt;
   line-height: 2.4rem;
   padding-top: 2.4rem;
   padding-bottom: 2.4rem;
   margin: auto;
   width: 75%;
}

.textoExplicativo {
   font-family: "Merriweather", serif;
   font-weight: 300;
   font-size: 14pt;
   line-height: 1.875;
   color: #888888;
}

.titulo {
   font-family: "Montserrat", sans-serif;
   font-weight: 600;
   font-size: 18pt;
}

html {
   font-size: 14pt;
}

section {
   margin-left: 0 auto;
   padding-top: 4.8rem;
   padding-bottom: 4.8rem;
}

.services {
   background-color: #111111;
   color: #FFFFFF;
}

.contact {
   background-color: #111111;
   color: #FFFFFF;
}

.home {
   background-color: #111111;
   color: #FFFFFF;
}

div {
   margin: auto;
   width: 85%;
}

.contenedorColumnas {
   overflow: hidden;
}

.columna {
   width: 30%;
   float: left;
   margin: 1.66%;
}

/* --- Barra navegacion --- */

header {
   width: 100%;
   background-color: #579347;
}

.contenedor {
   width: 85%;
   overflow: hidden;
}

.divLogo {
   width: 50%;
   float: left;
   overflow: hidden;
}

.divNav {
   width: 50%;
   float: left;
   overflow: hidden;
}

#botonMenu {
   display: block;
   float: right;
}

.divNav label {
   float: right;
   padding: 10px;
   color: #fff;
}

header label:hover {
   cursor: pointer;
   background: rgba(255, 255, 255, 0.2);
}

.menu {
   text-align: right;
   float: right;
   position: absolute;
   margin-top: 2rem;
   background: #579347;
   display: none;
}

.menu ul {
   margin-top: 0;
   list-style: none;
   padding: 0;
   display: flex;
   justify-content: flex-end;
   flex-direction: row;
}

.menu li {
   border-top: 1px solid #333333;
}

.menu li a {
   display: block;
   padding: 15px 20px;
   color: #999999;
   text-decoration: none;
}

.menu li:hover {
   background: rgba(255, 255, 255, 0.1);
}

#botonMenu:checked ~ .menu {
   display: block;
   float: right;
}


/* --------- Contact section --------- */

form {
   margin-top: 2.4rem;
}

.campoFormulario {
      margin-bottom: 2rem;
      align-items: center;
      width: 50%;
}

.campoFormulario label {
   font-family: "Montserrat", sans-serif;
   font-size: 0.85rem;
   color: #999;
}

.campoFormulario input{
      margin-top: 0.65rem;
      width: 95%;
      padding: 1rem;
      background: #000;
      border-style: none;
      font-family: "Montserrat", sans-serif;
      font-size: 0.85rem;
      color: #999;
}

.campoFormulario textarea{
   margin-top: 0.65rem;
   width: 95%;
   padding: 1rem;
   background: #000;
   border-style: none;
   font-family: "Merriweather", sans-serif;
   font-size: 0.85rem;
   color: #999;
}

.botonFormulario input{
   margin-top: 0.65rem;
   width: 100%;
   padding: 1rem;
   background: #F26522;
   border-style: none;
   font-family: "Montserrat", sans-serif;
   font-size: 0.85rem;
   color: #fff;
}

.botonFormulario {
   margin-bottom: 2rem;
   align-items: center;
   width: 50%;
}

.botonFormulario input:hover {
   cursor: pointer;
}
